

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #2980b9;
}

a:active {
  background-color: #1e6a8c;
}
/*     -------------------     */

body{
  background: whitesmoke;
  height: 100%;
}
.IframeDiv{
  height: 450px;
  width: auto;
}
iframe{
  height: 100%;
  width: 100%;
}
.navbar{  
  display: grid;
  align-items: center;
  height: 80px;
}