html, body {
    height: 100%;
    margin: 0;
}

iframe {
    position: absolute;
    width: -webkit-fill-available;
    height: 100%;
    border: none; /* Elimina el borde por defecto */
}
.OptionsChannel{
    padding: 20px;
    position: relative;
    display: grid;
    align-items: center;
    align-content: center;
}

button:hover{
    cursor:pointer;
  }